
@model JsonDemo.Models.Course

@{
    ViewBag.Title = "Details";
    var yearsList = ((List<int>)Session["StudentsYearsList"]).OrderByDescending(i => i);
}


<h5>@Model.Code</h5>
@Model.Title
<br />

<hr />

<div>
    <h4>Étudiants inscrits</h4>
    @foreach (int year in yearsList)
    {
        var registrations = Model.Registrations.Where(r => r.Year == year).OrderBy(r => r.Student.LastName).ThenBy(r => r.Student.FirstName);
        var allocation = JsonDemo.Models.DB.Allocations.ToList().Where(a => a.CourseId == Model.Id && a.Year == year).FirstOrDefault();
        string teacherName = allocation != null ? allocation.Teacher.Caption : "non attribué";
        if (registrations.Count() > 0)
        {
            <details open>
                <summary>Cohorte @year - @teacherName</summary>
                @foreach (var registration in registrations)
                {
                    <div class="StudentListLayout ellipsis">
                        <a href="@Url.Action("Details", "Students", new {id = registration.Student.Id})">
                            <div>
                                <span class="studentCode">@registration.Student.Code</span>
                                @registration.Student.LastName @registration.Student.FirstName
                            </div>
                        </a>
                    </div>
                }
            </details>
        }
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}