
@model JsonDemo.Models.Student

@{
    ViewBag.Title = "Details";
    var yearsList = ((List<int>)Session["StudentsYearsList"]).OrderByDescending(i => i);
}
<h3> <b> @Model.FirstName @Model.LastName</b> </h3>
<h5>Naissance : @Html.DisplayFor(m=>m.BirthDate)</h5>
<h5>NAD : @Model.Code</h5>
<h5>Téléphone : @Model.Phone</b></h5>
<h5>Courriel : <a href="mailto:@Model.Email">@Model.Email</a> </h5>

    <hr />

    <div>
        <h4>Inscriptions</h4>
        @foreach (int year in yearsList)
        {
            var registrations = Model.Registrations.Where(r => r.Year == year).OrderBy(r => r.Course.Code);
            if (registrations.Count() > 0)
            {
                <details open>
                    <summary>@year</summary>
                    @foreach (var registration in registrations)
                    {
                        <div class="CourseListLayout ellipsis">
                            <a href="@Url.Action("Details", "Courses", new { id = registration.Course.Id })">
                                <span class="courseCode">@registration.Course.Code</span>
                                @registration.Course.Title
                            </a>
                        </div>
                    }
                </details>
            }
        }


    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
